DataFactory/pipeline/pl_copyfileSqlQuery.json
{
	"name": "pl_copyfileSqlQuery",
	"properties": {
		"activities": [
			{
				"name": "Lookup table list",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource"
					},
					"dataset": {
						"referenceName": "DS_Source_TableLookup",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachfilecopy",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup table list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup table list').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipelinecopy file",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_copyMultiplefile-src-target",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TableName": {
										"value": "@item().TableName",
										"type": "Expression"
									},
									"Watermarkcolumn": {
										"value": "@item().Watermarkcolumn",
										"type": "Expression"
									},
									"SqlQuery": {
										"value": "@item().SqlQuery",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "CopyMultipleFilebySqlQuery"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}